:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --black-color: #000000;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Лого */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  color: var(--black-color);
}

.logo-accent {
  color: var(--accent-color);
}

/* Навигация */
.list {
  list-style: none;
}

.nav-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);

  list-style: none;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.nav-link.current {
  color: var(--accent-color);
}
/* Адрес */
.address-info {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  text-decoration: none;
}

.address-info:hover,
.address-info:focus {
  color: var(--accent-color);
}

/* Герой */
.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  text-align: center;

  cursor: pointer;
}
.hero-button {
  font-weight: 700;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
  background-color: var(--accent-color);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #ffffff;
  color: #000000;
}

/* Наши преимущества */
.features-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--title-text-color);
}

/* Чем мы занимаемся */
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: var(--title-text-color);
}

/* Наша команда */
.team {
  background-color: #f5f4fa;
}

.team .item {
  background-color: var(--primary-background-color);
}

.team .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  color: var(--title-text-color);
}

.team .job {
  font-size: 14px;
  line-height: 1.18;
  text-align: center;

  color: var(--primary-text-color);
}

/* Футер */
.footer {
  background-color: #2f303a;
}

.footer-logo {
  color: #ffffff;
}
.footer-address {
  font-style: normal;
  color: #ffffff;
}
.footer .address-info {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer .address-info:hover,
.footer .address-info:focus {
  color: var(--accent-color);
}

/* --------------------страница Портфолио------------- */
.portfolio-button {
  font-weight: 500;
  line-height: 1.62;

  letter-spacing: 0.03em;

  color: var(--title-text-color);
  background-color: #f5f4fa;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.portfolio-project:hover,
.portfolio-project:focus {
  background-color: var(--accent-color);
}

.portfolio-item {
  text-decoration: none;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.portfolio-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
